/*----------------common styles--------------------*/
.headingOfPart{
    font-size: 100px;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-style: solid;


}






/*-------------------about ME part------------------------------*/
.about_me{
    border-style: solid;
    width: 100%;
    height: 100%;
    background: #0F0E0B;
    color: #f6f4f4;
}



.span1_AboutMe{
    font-weight: bold;
    color: #131cd5;
}
.span2_AboutMe{
    font-size: 70px;

}

.about_me_description{
    position: relative;
    background: black;
    left: 130px;
    width: 800px;
    height: 400px;
    bottom: 80px;
    border-radius: 12px;

}

.about_me_description p {
    font-size: 33px;
    text-align: center;

}

