/*   =================services===============*/
body>main>section:nth-child(5){
    position: relative;
    height: 75vh;
    /* border: solid 1px crimson;*/

}

body>main>section:nth-child(5){
    position: relative;
    height: 75vh;
    /*border: solid 1px crimson;*/

}

body>main>section:nth-child(5)>section:nth-child(1){
    position: absolute;
    /*background-color: #870642;*/
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

body>main>section:nth-child(5)>section:nth-child(1)>h1{
    margin: 0;
    font-size: 18vh;
    letter-spacing: 15px;
    font-weight: bold;
    color: #f6f2f2;

}

body>main>section:nth-child(5)>section:nth-child(2){
    position: absolute;
    top: 28%;
    height: 72%;
    width: 100%;
    /* border: #283CF5 1px solid;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body>main>section:nth-child(5)>section:nth-child(2)>div{
    background-image: url('backgroundImages/three.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:solid 1px blueviolet;
    border-radius: 12%;
    text-align: center;
    color: white;
}

body>main>section:nth-child(5)>section:nth-child(2)>div>figure>img{
    width: 175px;
}

/*   ========================end main====================================*/